
API.NET_Project/.vs/LocalChat/vs/
/src/LocalChat/.vs/
/src/LocalChat/LocalChat.Core/obj
/src/LocalChat/LocalChat.Core/bin
/src/LocalChat/LocalChat.UI/obj
/src/LocalChat/LocalChat.UI/bin
/src/LocalChat/LocalChat.Repository.bin
/src/LocalChat/LocalChat.Repository.obj
/src/LocalChat/LocalChat.Repository/bin
/src/LocalChat/LocalChat.Repository/bin
/src/LocalChat/LocalChat.Repository/bin
/src/LocalChat/LocalChat.Repository/obj
/src/LocalChat/LocalChat.Repository/obj/Debug
/src/LocalChat/LocalChat.Repository/obj
/src/LocalChat/LocalChat.Repository/obj
/src/LocalChat2/LocalChat.UI/obj
/src/LocalChat2/LocalChat.UI/bin
/src/LocalChat2/LocalChat.Repository/obj
/src/LocalChat2/LocalChat.Core/obj
/src/LocalChat2/.vs
