
API.NET_Project/.vs/LocalChat/vs/
src/LocalChat/.vs/LocalChat/DesignTimeBuild/.dtbcache.v2
src/LocalChat/.vs/LocalChat/FileContentIndex/017b3260-1244-4aaf-98c8-9c59588111fd.vsidx
src/LocalChat/.vs/LocalChat/FileContentIndex/cddc132c-ff49-4db8-92b1-4393f2d955ef.vsidx
src/LocalChat/.vs/LocalChat/FileContentIndex/e2a46c27-78b5-4905-805c-337b86d2ced9.vsidx
src/LocalChat/.vs/