<h1>Новий користувач</h1>

<a href="#" id="createUserButton" class="btn btn-primary float-end">Створити</a>

<div id="createUserForm" style="display: none;">
    <h2>Створити нового користувача</h2>
    <form id="userForm">
        <div class="form-group">
            <label for="fullName">Повне ім'я:</label>
            <input type="text" class="form-control" id="fullName" name="fullName">
        </div>
        <div class="form-group">
            <label for="email">Email:</label>
            <input type="email" class="form-control" id="email" name="email">
        </div>

        <button type="submit" class="btn btn-primary">Створити користувача</button>
    </form>
</div>

@section Scripts {
    <script>
        $(document).ready(function () {
            $("#createUserButton").click(function (event) {
                event.preventDefault(); 

                $("#createUserForm").toggle();
            });

            $("#userForm").submit(function (event) {
                event.preventDefault();

                var formData = {
                    fullName: $("#fullName").val(),
                    email: $("#email").val()
                };

                $.ajax({
                    type: "POST",
                    url: "/User/Create",
                    data: formData,
                    success: function (response) {
                        location.reload();
                    },
                    error: function (xhr, status, error) {
                        console.error(xhr.responseText);
                    }
                });
            });
        });
    </script>
}

