Іввівен, [09.05.2024 20:32]
<!DOCTYPE html>
<html lang="en">
<partial name="_TemplateHead" />
<body class="navbar-fixed sidebar-fixed" id="body">

    <script>
        NProgress.configure({ showSpinner: false });
        NProgress.start();
    </script>

    <div class="wrapper">

        <aside class="left-sidebar sidebar-dark" id="left-sidebar">
            <div id="sidebar" class="sidebar sidebar-with-footer">
                <!-- Aplication Brand -->
                <div class="app-brand">
                    <a href="/">
                       

                        <span class="brand-name">Chat</span>
                    </a>
                </div>
                <!-- begin sidebar scrollbar -->
                <div class="sidebar-left" data-simplebar style="height: 100%;">
                    <!-- sidebar menu -->
                    <ul class="nav sidebar-inner" id="sidebar-menu">


                       
                        @if (User.IsInRole("User"))
                        {
                            <li>

                                <a class="sidenav-item-link" href="/ChatRoom">
                                    <i class="fa-solid fa-briefcase"></i>
                                    <span class="nav-text">ChatRoom</span>
                                </a>
                            </li>
                        }

                        @if (User.IsInRole("Admin"))
                        {
                            <li>

                                <a class="sidenav-item-link" href="/ChatRoomAdmin">
                                    <i class="fa-solid fa-briefcase"></i>
                                    <span class="nav-text">ChatRoomAdmin</span>
                                </a>
                            </li>
                        }
                        @if(User.IsInRole("Admin"))
                        {
                        <li>

                                <a class="sidenav-item-link" href="/User">
                                    <i class="fa-solid fa-user-group"></i>
                                    <span class="nav-text">Users</span>
                                </a>
                            </li>
                        }
                        @if (User.IsInRole("Admin") || User.IsInRole("User"))
                        {
                            <li>

                                <a class="sidenav-item-link" href="/User/Friends">
                                    <i class="fa-solid fa-user-group"></i>
                                    <span class="nav-text">Friends</span>
                                </a>
                            </li>
                        }@if (User.IsInRole("Admin") || User.IsInRole("User"))
                        {
                            <li>

                                <a class="sidenav-item-link" href="/Posts/Index">
                                    <i class="fa-solid fa-user-group"></i>
                                    <span class="nav-text">Posts</span>
                                </a>
                            </li>
                        }
                    </ul>

                </div>


            </div>
        </aside>
        <div class="page-wrapper">

       
            <header class="main-header" id="header">
                <nav class="navbar navbar-expand-lg navbar-light" id="navbar">
                    <!-- Sidebar toggle button -->
                    <button id="sidebar-toggler" class="sidebar-toggle">
                        <span class="sr-only">Toggle navigation</span>
                    </button>

                    <span class="page-title">Chat</span>

                    <div class="navbar-right ">



                        <ul class="nav navbar-nav">




                            <partial name="_LoginPartial.cshtml" />

                        </ul>



                    </div>


                </nav>



            </header>

            @*  <header>
            <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
            <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">ProjectC_.WebUI</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
            aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
            <ul class="navbar-nav flex-grow-1">
            <li class="nav-item">
            <!-- Вставте сюди ваші опції сторінок -->
            </li>
            </ul>
            <partial name="_LoginPartial" />
            </div>
            </div>
            </nav>
            </header> *@

            <div class="container">
                <main role="main" class="pb-3">
                    @RenderBody()
                </main>
            </div>

        </div>

    </div>






    <partial name="_TemplateScripts" />
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>