﻿@using LocalChat.Core.Entities
@using LocalChat.WebUI.Controllers

@{
    ViewData["Title"] = "Список проєктів";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<a href="/projects/create" class="btn btn-success float-end">Додати курс</a>
<div class="float-end" style="width:10px"></div>

<h2 class="mt-3 mb-3">@ViewData["Title"]</h2>

<div class="card">
    <div class="card-body">
        <p>Bla bla bla</p>
    </div>
</div>