@model IEnumerable<LocalChat.Core.Entities.ChatRoom>


@if (Model == null && !Model.Any())
{
    <p>No messages found.</p>
}
else
{
    
    <table class="table">
        <thead>
            <tr>
                <th>Sender</th>
                <th>Text</th>
                <th>Send Time</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.Name</td>
                    <td>@item.Messages</td>
                    <td>
                        <a href="/chatroom/delete/@item.Id" class="btn btn-danger">Видалити</a>
                    </td>
                </tr>
            }
        </tbody>
        <a href="/chatroom/create" class="btn btn-success float-end" type="button">Create</a>
    </table>
}
