@model LocalChat.Core.Entities.Message

@{
    ViewData["Title"] = "Додати повідомлення";
}

<h1>Додати повідомлення</h1>

<form asp-action="Create" method="post">
    <div class="form-group">
        <label for="Text">Текст повідомлення:</label>
        <input type="text" class="form-control" asp-for="Text" />
    </div>

    <div class="form-group">
        <input type="hidden" asp-for="Sender" />  
    </div>

    <button type="submit" class="btn btn-primary">Зберегти</button>
    <a href="@Url.Action("Index", "Message")" class="btn btn-secondary">Відмінити</a>
</form>
