@model IEnumerable<LocalChat.Core.Entities.Message>

@{
    ViewData["Title"] = "Чат";
}

<h1>Чат</h1>

<!-- Button to add a new message -->
<a href="@Url.Action("Create", "Message")" class="btn btn-primary">Додати нове повідомлення</a>

@if (Model == null || !Model.Any())
{
    <p>Немає повідомлень для відображення.</p>
}
else
{
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Від кого повідомлення</th>
                <th>Час надісланого повідомлення</th>
                <th>Текст</th>
                <th>Дії</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var message in Model)
            {
                <tr>
                    <td>
                        @if (message.SenderId == null)
                        {
                            @:Невідомо
                        }
                        else
                        {
                            @message.SenderId
                        }
                    </td>
                    <td>
                        @if (message.SendTime == null)
                        {
                            @:Невідомо
                        }
                        else
                        {
                            @message.SendTime
                        }
                    </td>
                    <td>
                        @message.Text
                    </td>
                    
                </tr>
            }
        </tbody>
    </table>
}
